@charset "utf-8";
/* CSS Document */

body						{ margin:0; padding:0 2px; font-family:"Trebuchet MS"; font-size: 12px;
								background:#9fc url(../images/page-bg.jpg) center top no-repeat;}
html						{ margin:0; padding:0; width:100%; height:100%; }
h1, h2, h3					{ padding:0; margin:0; font-weight:normal;}
/*a							{ text-decoration:none; color:#000; }
p							{ padding:0; margin:0; }*/
.width						{ margin:0 auto; width:920px; }
#header						{ position:relative; height:110px; background:#fff url(../images/header-bg.jpg) center no-repeat; border-bottom: #DDD solid 1px; }
#header-logged-in			{ position:relative; height:110px; background:#fff url(../images/header-bg.jpg) center no-repeat; }
#nav-bar					{ position:relative; height:27px; background:#fff; border:1px solid #CCC;
								 z-index:1; }
.content					{ background:#fff; height:inherit; overflow:auto; }
.content-column				{ width:740px; float:left; padding:10px;  }
.contentColumnSpan		{ font-size:19px; background:#6FF url(../images/side-bg.jpg); border:1px solid #C30; padding:10px;
								color:#000; display:block; margin-bottom:3px; }
.content-column p			{ padding:10px 0; }
.splash-box					{ padding:10px; border:1px solid #C30; color:#000; font-size:12px; min-height:120px;
								background:#fff url(../images/form-bg.jpg) bottom repeat-x; position:relative; }
.form						{ position:relative; height:inherit; overflow:auto; padding:0 35px; display:block; }
.form label					{ float:left; clear:left; width:120px; display:block; font-size:12px; padding:2px 9px; margin:3px 0 3px 0;
								text-align:right; display:block;}
.form input,
.form textarea 				{ margin:3px 0 3px 0; width:150px; clear:right;   }
.form textarea 				{ height:80px; }
.form p						{ padding:0; height:inherit; overflow:auto; margin:2px 0 8px 0; display:block; }
.form i						{ margin:4px 15px 0 0; float:left; }
.form p label				{ margin:3px 0 0 0; }
.form p	input				{ width:20px; margin:7px 0 3px 0; float:left; }
.form p select				{ width:155px; padding:0 0 0 6px; height:23px;  }
.btn						{ color: #fff;background:url(../images/btn.jpg) bottom repeat-x;}
a.btn						{ text-decoration: none}
.btn:hover					{ color: #fff;opacity:0.8}
.welcome-btn-position		{ position:relative; width:200px; margin:0 auto 0 138px; }

.form2						{ margin:0 auto; height: 50px; background: #060; min-width: 220px; /*url(../images/serch-bg.jpg);*/ position:relative; border:1px solid #fff; }
.dash-board-form-position	{  }
.search-box-new             { position: relative; }



#search-title,
#search-txt					{ width:220px; margin:0 auto; font-size:16px; font-style:italic; padding:3px; }
#search-txt					{ width:250px; font-size:12px; margin:8px auto 0 auto;  }
#search-box					{ height:23px; width:221px; background:url(../images/serch-input-bg.jpg); border:none; position:absolute;
								top:5px; left:7px;  }
#search-btn					{ position:absolute; top:5px; right:7px; height:25px; width:35px;
								background:url(../images/serch-btn-bg.jpg) 0 -3px; border:none;  }
.display-set				{ position:relative; margin:0 auto 0 auto; width:90%; font-size:11px;}
.display-set td				{ padding:5px 4px; border-bottom:1px solid #eee; border-left:1px solid #ccc; border-top:1px solid #ccc;
								border-right:1px solid #eee;  }


.title-row					{ background:rgb(158,135,217) url(../images/serch-bg.jpg) bottom repeat-x; color:#FFF; font-weight:bold; }
.tr-row						{ background:#fff;  }
.tr-row:hover,
.tr-row2:hover				{ background:#eee; }
.tr-row2					{ background:rgb(196,207,235) /*url(../images/nav-bg.jpg) bottom repeat-x*/;  color:#000; }
input.btn2						{ background:url(../images/btn.jpg) bottom repeat-x; margin:5px 0 0 0; padding:0 10px 3px 15px; height:25px;
								 font-weight:bold; position:relative;color:#FFF; border:none;
								text-align:center; cursor:pointer;  }

.side-bar					{ width:150px; float:left; }
.side-bar h3				{ padding:10px 5px; background:#fff; margin:10px 0 0 0; font-size:16px; border:1px solid #C30;
								background:#6FF url(../images/side-bg.jpg);  }
.side-bar a					{ display:block; padding:10px; border-bottom:1px dashed #999; }
.side-bar a:hover			{ background:url(../images/side-bg.jpg); }
.footer						{ background:#eee; height:20px; text-align:center; padding:2px 0 0 0; margin:10px auto 0 auto; border:1px solid #fff; }

/* New CSS controls */
.position					{ position:absolute; color:#CCFF66; top:5px; right:20px; z-index:9003; background: url(../images/nav-bg.jpg);
								color:#000; overflow:auto; height: inherit; }
/*.login-details				{ position:absolute; bottom:0; right:10px; z-index:9005; font-size:11px; background:url(../images/nav-bg.jpg) }
.login-details p			{ background:rgba(0,0,0,0.2);  display:inline; color:#fff; padding:0 4px; }
.login-details span			{ padding:2px 5px; margin:0 3px 0 0; background:; color:#033; display:inline;}*/



.login-details				{ float:right; z-index:9005; font-weight:bold; text-transform:uppercase; font-size:11px; color:#fff; }
.login-details p			{ display:inline; color:#FC6; padding:0 4px; text-transform:capitalize; }
.login-details span			{ padding:2px 5px; margin:0 3px 0 0; color:#fff; display:inline;}
.login-details span a       { color: #FFF; }



.user-strip					{ height:20px; background:#080; padding:3px 0 0 0; }


/* newly added styles*/
.splash-width								{ width:878px; }
.print-preview								{ background:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
.print-preview *.title-row					{ background:#666; color:#FFF; font-weight:bold; }
.print-preview *.tr-row						{ background:#fff; }
.print-preview *.tr-row:hover,
.print-preview *.tr-row2:hover				{ background:none; }
.print-preview *.tr-row2					{ background:#ddd; }
.print-preview *input.btn2					{ background:url(../images/btn.jpg) bottom repeat-x; margin:5px 0 0 0; padding:0 10px 3px 15px;
												height:25px; font-weight:bold; position:relative;color:#FFF; border:none; text-align:center;
												cursor:pointer;  }
.print-preview *.display-set				{ position:relative; margin:0 auto 0 auto; width:90%; font-size:11px;}
.print-preview *.display-set td				{ padding:5px 4px; border-bottom:1px solid #777; border-left:1px solid #777; border-top:1px solid #CCC; 												border-right:1px solid #CCC;  }









/*BEGIN SYS ADMIN & REPORT STYLES*/
a
{
	color: #030;
	text-decoration: underline;
}

a:hover
{
	color: #060;
	text-decoration: none;
}


.specialLinks a{
	text-decoration: none;
}


td, th{
	padding: 5px;
	font-size: 11px;
}

table {
	border-collapse: collapse;
}

.comments{
	color: #990000;
	font-weight: bold;
}

.treeImage img{
	padding-right: 5px;
	border-width: 0px;
	cursor: pointer;
}

.menuDisplay td{
	padding-left: 40px;
}

.contstore{
	visibility: hidden;
	display: none;
}

#ajaxLoader{
	position: relative;
	/*display: run-in;*/
	left: 20px;
	top: 0px;
	font-size: 16px;
	font-weight: bold;
	display: block;
	padding: 10px;
	color: #990000;
	vertical-align: middle;
}

#ajaxLoader img{
	border: 0px;
	vertical-align: middle;
}

.addMenu {
	font-size: 16px;
	display: block;
	padding: 20px;
	background-color: #EFEFEF;
}

.addMenu img{
	border: 0px;
}

.padMe td {
	padding: 5px;
}

.padLeft{
	padding-left: 10px;
}

.story{
	padding: 5px 0px 5px 20px;
}

.redText{
	color: #990000;
}

.userTable{
	border: 1px #CCCCCC thin;
}

.userTable td{
	padding: 5px;
}

.rightsText{
	color: #9999CC;
}

.rightsLink{
	color: #333;
	text-decoration: underline;
	cursor: pointer;

}

.rightsLink:hover{
	color: #644;
	text-decoration: none;
	cursor: pointer;
}

.rightsLinkRemove{
	color: #990000;
	text-decoration: underline;
	cursor: pointer;

}

.rightsLinkRemove:hover{
	color: #B96D00;
	text-decoration: none;
	cursor: pointer;
}

.welcome{
	text-align: right;
	padding: 5px;
	display: block;
	background-color: #ffcccc;
}

.userDetails{
	padding: 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	float: right;
	color: #990033;
}

.userDetails span{
	padding: 0px 10px 0px 10px;
}

.userDetails strong{
	color: #000000;
}

.auditTrail{
	text-align: left;
}

.auditTrail a{
	color: #900;
	text-decoration: underline;
}

.auditTrail a:hover{
	color: #C60;
	text-decoration: none;
}

.reportTables{
	background-color: #FFF;
	border-color: #999999;
	border-collapse: collapse;
}

.reportContainer{
	width: 100%;
}
/*END SYS ADMIN & REPORT STYLES*/








/*BEGIN BILLING / ADMISN&DISCHARGE / WARDS STYLES & DRUGS */
td .bold{
background-color:#f1f1f1;
font-weight:bold;
}
.errorMesg{
font-weight:bold;
color:#FF0000;
padding:15px;

}
td .value{
text-align:right;

}
.tblborder{
border-color: #f9f9f9;


}
.tblborder2{
border-color: #f9f9f9;




}

 .border{
border-top:double;
border-bottom:double;
background-color:#ffffff;
}
 .tableborder{
border:1px solid #FFCCFF;
padding-left:2px;
background-color: #CCCCCC;

}
 .border1{
border-top:double;
}
#multiTransferExample a {
  display: block;
  border: 1px solid #aaa;
  background-color: #fafafa;
  color: #123456;
  margin: 2px;
  width: 50px;
  text-decoration:none;
  /* clear: both;
  */
  height:15px;

 }
 #multiTransferExample div {
  float:left;
  text-align: center;


 }
 #multiTransferExample select {
  width: 230px;
  height: 80px;
   font-size:8px;
   margin:1px;
   }
.redpad{
color:#FF0000;
padding-left: 5px;
}

  .my-form-position {top:60px; position:relative;}
#message { position:relative; }
.message-dark-bg, .message-dark-bg a { color: #FFF; }
.billsearch 	{ position:absolute; top:-30px; right:120px; width: 150px; z-index:100; font-size:12px; font-weight:bold; }
.pharmsearch 	{ position:absolute; top:-43px; right:115px; z-index:100; font-size:17px; font-weight:bold; }

/*END BILLING / ADMISN&DISCHARGE / WARDS STYLES & DRUGS*/





/*BEGIN PATIENT CARE STYLES (Tunde)*/
.registrationAccordion{
	padding-left: 40px;
	color: #666;
}

.treatmentDialog{
	display: none;
}

.treatmentIgniter{
	color: #030;
	text-decoration: underline;
	cursor: pointer;
}

.treatmentIgniter:hover{
	color: #060;
	text-decoration: none;
}

.treatmentDiaglogStatus{
	color: #F99;
}

.treatmentDiaglogStatusEntered{
	color: #CCC;
}

.ajax-in-progress			{ text-align: center; width: 100%; display: none; position: absolute; top: 50px; z-index: 99; }
/*END PATIENT CARE STYLES (Tunde)*/




/************************************************************************ Lab section rules */
.lab-form-table{
	border-collapse:collapse;
}

table.lab-form-table td{
	padding-bottom:0.5em;
}

table.lab-form-table input, table.lab-form-table select, table.lab-form-table textarea, table.lab-table input, table.lab-table select, table.lab-table textarea{
	border: 1px solid #999;
}

table.lab-form-table input:focus, table.lab-form-table select:focus, table.lab-form-table textarea:focus{
	border: 1px solid black;
}

.lab-buttonrow{
	padding-top:1em;
}

.lab-formhint {
	font-size:smaller;
}

.lab-table{
	border-collapse:collapse;
}

table.lab-table td{
	padding:0.3em;
}

table.lab-table tr{
	border-top:solid 1px #CCC;
}

table.lab-table th{
	padding:.8em 0;
	font-weight:bolder;
	text-align:left;
}

table.lab-table tr:hover{
	border-left:2px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	background-color:#FC9;
}

table.lab-table th{
	font-size:1em;
	background-color:#CCC;
	border-bottom:1px #666 solid;
	border-top:1px #666 solid;
	padding-left:.5em;
}

table.lab-table caption{
	text-align:left;
	font-size:1em;
}

.lab-section-head{
	font-size:1.2em;
	margin-bottom:1em;
	color:#003366;
	}

form fieldset {
	border:1px solid #C93;
	border-left:none;
	border-right:none;
	padding:1.5em 0;
	margin:1.5em 0;
}

form fieldset {
	color:#930;}

legend {
	padding:0 1em 0 0;
	color:#930;
}

.labdiv {
	padding:1em;
	border:1px solid #F99;

}

.error {
	color:#F00;
	}

.tabContent p{
	margin:0 0 5px 0;
	padding:0;
}

.tabContent p span{
color:#F60;}

/*****************************************lab section rules end */


.new-checkbox-entry-link {
    margin: 5px 0px 10px 0px;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #F00;
}


.form-builder-section-title{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
    font-size: 16px;
}