* {
    margin: 0;
    padding: 0;
}

body {
	background: #39414A;
	color :   #666;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif !important;
	font-size: 9pt;
	margin: 0;
	padding: 0;
	background-color: #666;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #903;
	text-decoration: underline;
}

h1 {
	font-size: 15pt;
}

h2 {
	font-size: 13pt;
}

h3 {
	font-size: 12pt;
}

label {
	font-weight: 700;
	width: 140px;
	display: block;
	float: left;
	padding-left: 4px;
}

select {
	width: 150px;
	border: 2px solid #666;
	margin: 2px;
}

p {
	margin: 20px;
}

#main {
	background-color: #fff;
	width: 700px;
	margin: 20px 50%;
	left: -350px;
	right: -350px;
	padding: 10px 20px;
	position: absolute;
}

#footer {
	text-align: center;
}