@charset "UTF-8";
@import "default.css";


ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 5px 30px;
}


.cont {
    background-image: url(../images/cont_bg.jpg);
	font: "Trebuchet MS", Tahoma, "Segoe UI"; color:#003333;
	font-size:12px;
    background-color: #FF99FF;
    background-repeat: repeat-x;
}

.main_title {font-size:28px; color: #666699;}
.main_txt {font-size:11.5px; color: #000033;}
.news {font-size:10px; color:#333366;}
.about {font-size:11px; color: #003333;}

.read_more:link {text-decoration:none;
					font-size:10px;
					color: #339999;}
					
.read_more:hover {text-decoration:none;
					font-size:10px;
					color:#006666;}
					
.read_more:active {text-decoration:none;
					font-size:10px;
					color:#006666;}

.read_more:visited {text-decoration:none;
					font-size:10px;
					color: #003333;}

.read_more:hover {text-decoration:none;
					font-size:10px;
					color: #000000;}

.footer {background-color:#FF99FF;
			font-size:11px; color: #003333;
			margin-top:1px;
			text-align: center;
			height:67px;
			}


/*------------------------------------------------------------------------------------------------------/

 */


ul.dropdown li {
 padding: 0;
}

ul.dropdown ul a,
ul.dropdown ul span {
 padding: 8px;
}


ul.dropdown *.dir {
 padding: 5px 30px;
}

ul.dropdown ul *.dir {
 padding: 8px 15px 8px 8px;
}


ul.dropdown ul a {
 width: 133px;
}

ul.dropdown ul a.dir {
 width: 143px;
}



/*------------------------------------------------------------------------------------------------------*/


ul.dropdown *.open {
 background-color: #3d3d3d;
}
ul.dropdown ul *.open {
 background-color: #4c4c4c;
 background-image: url(images/comnav-arrowover.png);
 color: #fff;
}
ul.dropdown ul ul *.open {
 background-color: #595959;
 background-image: url(images/comnav-arrowover2.png);
 color: #fff;
}
/* Override UPPER TWO definitions */
ul.dropdown a.open:hover {
	background-color: #1D1D1D;
	color: #fff;
}
ul.dropdown ul a.open:hover {
 background-image: url(images/comnav-arrowon.png);
 color: #fff;
}


/* Clone in CSS 2 */

ul.dropdown li:hover > *.dir {
 background-color: #3d3d3d;
}
ul.dropdown ul li:hover > *.dir {
 background-color: #4c4c4c;
 background-image: url(images/comnav-arrowover.png);
}
ul.dropdown ul ul li:hover > *.dir {
 background-color: #595959;
 background-image: url(images/comnav-arrowover2.png);
 color: #fff;
}

/* Override UPPER TWO definitions */
ul.dropdown li:hover > a.dir:hover {
 background-color: #1d1d1d;
 color: #fff;
}
ul.dropdown ul li:hover > a.dir:hover {
 background-image: url(images/comnav-arrowon.png);
 color: #fff;
}