@charset "UTF-8";

	ul.dropdown li {
	 padding: 5px;
	}

	ul.dropdown *.dir {
	 padding-right: 30px;
	 background-image: none;
	 background-position: 100% 50%;
	 background-repeat: no-repeat;
	}

		/* Non-first level */
		ul.dropdown ul *.dir {
		 padding-right: 15px;
		 background: #6CF url(images/nav-arrow-right2.jpg);
		 border-bottom:1px solid #6FF;
		 background-position: 100% 50%;
		 background-repeat: no-repeat;
		}

		ul.dropdown ul ul *.dir {
		 background-image: url(images/nav-arrow-right2.jpg);
		}


	/* Components override */

	ul.dropdown-vertical *.dir {
	 background-image: url(images/nav-arrow-right2.jpg);
	}

	ul.dropdown-vertical-rtl *.dir {
	 padding-right: 15px;
	 background-image: url(images/nav-arrow-right2.jpg);
	 background-position: 0 50%;
	}



/*------------------------------------------------------------------------------------------------------/
	@section	Base Drop-Down Styling  */



	/* ALL LEVELS (incl. first) */

	ul.dropdown {
	 font: 12px Arial, Helvetica, sans-serif;
	 
	}
	ul.dropdown a:hover { background:#6CF; color:#000; }

		ul.dropdown li {
		  /* This controls Main Links in display */
		 color: #336;
		}


		ul.dropdown li.hover,
		ul.dropdown li:hover {
		}

		/* Links */

		ul.dropdown a:link,
		ul.dropdown a:visited { color: #336; text-decoration: none;}  /*This controls Main Links in display*/
		ul.dropdown a:hover {
	color: #fff;
		}

		ul.dropdown ul a.dir:hover { /* proposal */

	background:#6CF url(images/comnav-arrowon.png);
	color: #fff;
		}

		ul.dropdown a:active {
		 background: #6CF url(images/nav-sub-press.png) 0 0 repeat-x !important;
		 color: #fff;
		}


		/* NON-FIRST LEVEL */

		ul.dropdown ul {
		 left: auto;
		 right: 0;
		 width: 150px;
		 margin-top:0;

		 font: 11px Tahoma, Geneva, Verdana, sans-serif;
		}

			ul.dropdown ul li { background: #6CF url(images/comnav-arrowon.png); color: #fff; }
			ul.dropdown ul li:hover > a.dir:hover { color:#000; background:#6CF; }
			

		ul.dropdown ul ul {
		 top: 0;
		 right: auto;
		 left: 100%;
		 margin-top: 0;
		 border-top: none;
		 border-left: none;
		 font-weight: normal;
		}

			ul.dropdown ul ul li {
			 background: #6CF ; border-bottom:1px solid #6FF;
			}
			ul.dropdown ul ul li a:hover { background:url(../images/nav-bg.jpg) bottom; color:#000; }

		ul.dropdown ul ul ul li {
		 background: #6CF;
		}



/* Mixed */

ul.dropdown li a,
ul.dropdown *.dir {
}

ul.dropdown ul li a,
ul.dropdown ul *.dir { border-left: none; }

ul.dropdown ul ul li a,
ul.dropdown ul ul *.dir { }

ul.dropdown ul ul ul li a,
ul.dropdown ul ul ul *.dir { }

