@charset "UTF-8";
@import "default.css";


ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 5px 30px;
}


ul.dropdown li {
 padding: 0;
}

ul.dropdown ul a,
ul.dropdown ul span {
 padding: 8px;
 background:#6CF;
 border-right:1px solid #fff;
}

ul.dropdown ul a:hover { color:#000; background:url(images/nav-arrow-right2.jpg);}


ul.dropdown *.dir {
 padding: 5px 30px;
}

ul.dropdown ul *.dir {
 padding: 8px 15px 8px 8px;
}


ul.dropdown ul a {
 width: 133px;
}

ul.dropdown ul a.dir {
 width: 143px;
}



/*------------------------------------------------------------------------------------------------------*/


ul.dropdown *.open {
 background-color: #6CF;
 color:#000;
}
ul.dropdown ul *.open {
 background: url(images/comnav-arrowover.jpg);
 color: #000;
}
ul.dropdown ul ul *.open {
 background-color:#6CF;
 color: #000;
}
/* Override UPPER TWO definitions */
ul.dropdown a.open:hover {
	background-color: #6CF;
	color: #000;
}
ul.dropdown ul a.open:hover {
 background-image: url(images/comnav-arrowover.jpg);
 color: #000;
}



/* Clone in CSS 2 */

ul.dropdown ul li:hover > *.dir {
 background:#6CF url(images/nav-arrow-right.jpg);
 color:#000;
}
ul.dropdown ul ul li:hover > *.dir {
 background-color: #6CF;
 background-image: url(images/comnav-arrowover2.png);
 color: #000;
}

/* Override UPPER TWO definitions */
ul.dropdown li:hover > a.dir:hover {
 background-color: #6CF;
 color: #000;
}

.basic-link		{ background:none; }

